@import url("variables.css");

:root {
	color: var(--light-grey);
}

a.cv-box {
	color: var(--light-grey);
	text-decoration: none;
}

div.perso-box {
	/*background-color: ;*/
	width: 80%;
}

div.cv-box {
	width: fit-content;
	height: fit-content;

	background-color: var(--red);

	padding: 5px;
	padding-inline: 50px;

	border-radius: 25px;
}

.cv-box:hover {
	transition: 0.5s;
	background-color: var(--dark-blue);
	color: var(--red);
	font-weight: bold;
}
