@import url("variables.css");
@import url("nav.css");

body {
	font-family: sans-serif;
	background-color: var(--dark-grey);
	color: var(--light-grey);
	height: 100%;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
}

div#main-section {
	margin: auto;

	width: fit-content;
	height: 100%;
}

div#main-section div {
	text-align: center;
	margin: auto;
}

#header_div {
	text-align: center;
	margin-top: 10px;
	/*margin-bottom: 40px;*/

	padding: 5px;
}

#profil_div {
	margin-left: 5px;
	display: flex;
	align-items: center;
	gap: 8px;
}

#profil_div img {
    width: 30px;
    height: auto;
    display: block;
}

#footer_div {
	text-align: center;
	margin-bottom: 10;
}
