@import url("variables.css");
@import url("nav.css");

body {
	font-family: sans-serif;
	background-color: var(--dark-grey);
	color: var(--light-grey);
}

html, body {
	min-height: 100vh;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header, footer {
	display: flex;
	align-items: center;
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}

a.inclusion_texte {
	font-weight: bold;
	font-family: sans-serif;
	color: var(--light-grey);
}

a.lien:hover {
	transition: 0.5s;
	color: var(--red);
}

main {
	margin: auto;
	flex: 1 0 auto;

	width: fit-content;
	/*height: 100%;*/
}

main div {
	text-align: center;
	margin: auto;
}

#header_div {
	margin-top: 10px;
}

#footer_div {
	flex-shrink: 0;
	margin-top: 20px;
}

#header_div, #footer_div {
	text-align: center;
	padding: 5px;
}

#encart_div {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	gap: 8px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#encart_div img {
	width: 30px;
	height: auto;
	display: block;
}
