@import url("variables.css");

body {
	font-family: sans-serif;
	background-color: var(--dark-grey);
	color: var(--light-grey);
}

#header_div {
	text-align: center;
	margin-top: 10;
}

#footer_div {
	text-align: center;
	margin-bottom: 10;
}
