@import url("variables.css");

:root {
	color: var(--light-grey);
}

a.cv-box {
	color: var(--light-grey);
	text-decoration: none;
}

div.perso-box {
	/*background-color: ;*/
	width: 80%;
}

div.cv-box {
	width: fit-content;
	height: fit-content;

	background-color: var(--red);

	padding: 5px;
	padding-inline: 50px;

	border-radius: 25px;
}

.cv-box:hover {
	transition: 0.5s;
	background-color: var(--dark-blue);
	color: var(--red);
	font-weight: bold;
}

.perso-box h2 {
	color: var(--red);
	border-bottom: 2px solid var(--red);
	padding-bottom: 10px;
	margin-top: 30px;
	text-align: left;
}

.perso-box h2:first-child {
	margin-top: 0;
}

.perso-box p {
	text-align: justify;
	line-height: 1.6;
	margin-bottom: 15px;
}

.perso-box strong {
	color: white;
}
