@import "variables.css";

:root {
	font-family: sans-serif;
}

.navmenu {
	display: flex;
	justify-content: center;
	text-align: center;
}

.navmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.navmenu li {
	margin-right: 20px;
	text-align: center;
}

.navmenu li:last-child {
	margin-right: 0;
}

.navmenu a {
	color: var(--light-grey);
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.navmenu a:hover {
	transition: 0.5s;
	color: var(--red);
	background-color: var(--dark-blue);
}
