@import url("variables.css");

div.projet h2 {
	color: var(--red);
	font-size: 1.8rem;
}

img.illus-projet {
	width: 500px;
}

table.langages-projet {
	margin: auto;
}

main {
	max-width: 90%;
}

div.description-projet {
	text-align: left;
}
